<html>
    <head>
        <title>Learn Html</title>
        <script src="js/jquery-1.6.3.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="js/temperature"></script>
        <link rel="stylesheet" href="css/style.css" type="text/css">
        
    </head>

    <body>
        <ul>
            <li><a href="../web/buttons.html">Buttons</a></li>
            <li><a href="../web/hotel.html">Hotel Booking</a></li>
            <li><a href="../web/temperature.html">Temperature</a></li>
            <li><a href="../web/email.html">Email</a></li>
        </ul>
    </body>
</html>